
.navbar-light .navbar-nav .nav-telephone-link {
  color: #27aae1;
}
.navbar-light ul {
  font-weight: 500;
}


.container-fluid.landing-container {
  color: white;
  height: 90vh;
}

.quote-form {
  background: transparent
    linear-gradient(
      144deg,
      var(--unnamed-color-8dc63f) 0%,
      var(--unnamed-color-27aae1) 100%
    )
    0% 0% no-repeat padding-box;
  background: transparent linear-gradient(144deg, #8dc63f 0%, #27aae1 100%) 0%
    0% no-repeat padding-box;
}

.background-image {
  background-image: url("../images/HeaderImage@2x.png");
  background-size: cover;
  background-position: center;
}
.tagline-container {
  max-width: 750px;
}

.quote-form .progress-container strong {
  color: #045E73;
}

#form-container input {
  height: auto;
}

#form-container #or-divider {
  color: #045E73;
}

#form-container .icon-offset-margin {
  /* offset made to equal half of the "pickup icon" and half of the dashed line*/
  margin-left: calc(21px / 2 - 1.5px);
}


/* removing rounded inputs from bootstrap to match design */
 #form-container .form-control {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.btn {
  border: none;
  border-radius: 40px;
  width: 215px;
  height: 50px;
}
.btn:hover {
  background-color: #045162;
}

.btn-primary {
  background-color: #045E73;
}





/* begin services styling */
.services-header {
  color: #045E73;
}
.services-descriptions {
  margin-top: 120px;
  color: #045E73;
}

.services-descriptions ul {
  list-style-type: none;
  height: 125px;
  
}

.services-descriptions .list-group-flush {
  padding-left: 0;
}
.services-descriptions .list-group-flush li{
  border: none;
}

.services-title {
  background-color: #F0F0F0;
  margin-bottom: 0px;

}

.services-list {
  background-color: #F8F8F8;
}

.services-list li, .services-list a{
  text-decoration: none;
  color: #707070;
  background-color: #F8F8F8;
}
.services-list a:hover {

  text-decoration: underline;
}

.services-descriptions .container {
  margin: 0px 10px;
  max-width: 400px;
}

.services-descriptions .services-image-container {
  width: 125px;
  height: 125px;
}

footer {
  background-color: #045E73;
  color: white;
}

footer .footer-list {
  max-width: 400px;
}

footer .footer-list .list-group-item {
  border: none;
  background-color: #045E73;
  color: white;
}

footer a, footer a:hover {
  color: white;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .carriersoft-color {
  color: #8DC63F;
}
footer #copywrite-row {
  background-color: #023D4B;
}
@media only screen and (max-width: 991px) {
  #navbar-wrapper {
    width: 100% !important;
    justify-content: space-between !important;
  }
}
@media only screen and (min-width: 1200px) {
  #navbar-wrapper {
    width: auto !important;
  }
  nav .nav-bar-wrapper {
    width: 100%;
    
  }
  nav #navbarToggler {
    max-width: max-content;
  }
  
}