

.navbar-light .navbar-nav .nav-telephone-link {
  color: #27aae1;
}
.navbar-light ul {
  font-weight: 500;
}

.container-fluid.landing-container {
  color: white;
}

.quote-form {
  
  background: transparent linear-gradient(144deg, #8dc63f 0%, #27aae1 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(144deg, hsl(85, 40%, 51%) 0%, #27aae1 100%) 0% 0% no-repeat padding-box;
}

.background-image {
  background-image: url("../images/HeaderImage-min.png");
  background-size: cover;
  background-position: center;
}
.tagline-container {
  /* max width added for xxl screens */
  max-width: 750px;
}

.quote-form .progress-container strong {
  color: #045e73;
}

#form-container input {
  height: auto;
}

#form-container #or-divider {
  color: #045e73;
}

.first-form-container .icon-offset-margin {
  /* offset made to equal half of the "pickup icon" and half of the dashed line*/
  position: relative;
  margin-left: calc(21px / 2 - 1.5px);
}

/* removing rounded inputs from bootstrap 5 to match design styles from XD file */
.first-form-container input,
.second-form-container .dynamic-dropdown .form-select,
.third-form-container input,
.third-form-container textarea {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.third-form-container .form-check label {
  margin-top: 0.75rem;
}

.btn {
  border: none;
  border-radius: 40px;
  width: 215px;
  height: 50px;
}
.btn-primary:hover {
  background-color: #045162;
}

.btn-primary {
  background-color: #045e73;
}

/* the following styles are to help match radio and checkbox inputs to match the XD files */
input[type="radio"] {
  border-radius: 0 !important;
  padding: 0.5em;
  -webkit-appearance: none;
}

input[type="radio"]:checked {
  background-color: #045e73;
  background-size: 0px;
  color: #045e73;
}

input[type="radio"]:focus {
  outline-color: transparent;
}

div.form-check.form-check-inline {
  width: 6rem !important;
  height: 40px;
}
input.form-check-input {
  width: 40px;
  height: 40px;
}

/* begin services styling */
.services-header {
  color: #045e73;
}
.services-descriptions {
  margin-top: 120px;
  color: #045e73;
}

.services-descriptions ul {
  list-style-type: none;
  height: 125px;
}

.services-descriptions .list-group-flush {
  padding-left: 0;
}
.services-descriptions .list-group-flush li {
  /* removing the borders from bootstrap */
  border: none;
}

.services-title {
  background-color: #f0f0f0;
  margin-bottom: 0px;
}

.services-list {
  background-color: #f8f8f8;
}

.services-list li,
.services-list a {
  text-decoration: none;
  color: #707070;
  background-color: #f8f8f8;
}
.services-list a:hover {
  /* added underline to help better see links in the services containers */
  text-decoration: underline;
}

.services-descriptions .container {
  margin: 0px 20px;
  max-width: 400px;
}

.services-descriptions .services-image-container {
  width: 125px;
  height: 125px;
}

footer {
  background-color: #045e73;
  color: white;
}

footer .footer-list {
  max-width: 400px;
}

footer .footer-list .list-group-item {
  border: none;
  background-color: #045e73;
  color: white;
}

footer a,
footer a:hover {
  color: white;
  text-decoration: none;
}
footer a:hover {
  /* added underline to help better see links in the footer container */
  text-decoration: underline;
}
footer .carriersoft-color {
  color: #8dc63f;
}
footer #copywrite-row {
  background-color: #023d4b;
}
#copywrite-row span {
  max-width: 1296px;
}

/* begin custom responsive styling */
@media only screen and (max-width: 768px) {
  img.position-relative.me-2.dashed-line {
    /* taking the dashed line out of the document flow for smaller screens */
    position: absolute !important;
  }
  #form-container {
    margin-left: -30px;
  }
  div.form-check.form-check-inline {
    width: 3rem;
    height: 3rem;
  }
  input.form-check-input {
    width: 2rem;
    height: 2rem;
  }
  .btn {
    width: 115px;
  }
}

@media only screen and (max-width: 991px) {
  #navbar-wrapper {
    /* adjusting non-mobile navbar to stay centered */
    width: 100% !important;
    justify-content: space-between !important;
  }
}
@media only screen and (min-width: 1200px) {
  #navbar-wrapper {
    width: auto !important;
  }
  nav .nav-bar-wrapper {
    width: 100%;
  }
  nav #navbarToggler {
    max-width: max-content;
  }
}
